[defaults]
interpreter_python = auto_silent

inventory = inventory
private_key_file = ~/.ssh/ansible

# Helps skip the "junk" by reducing SSH overhead
host_key_checking = False

[ssh_connection]
# This is the big one: it runs modules in-memory
# and usually bypasses the "junk" warning entirely.
pipelining = True
