[defaults]
interpreter_python = auto_silent

inventory = inventory
private_key_file = ~/.ssh/ansible

# Helps skip the "junk" by reducing SSH overhead
host_key_checking = False

# This helps strip out some terminal-specific noise
stdout_callback = default

# This kills the most common ways Fedora 43 injects these codes
environment = { 
    "TERM": "dumb", 
    "VTE_VERSION": "0", 
    "PROMPT_COMMAND": "", 
    "PS1": "> " 
  }

[ssh_connection]
# This is the big one: it runs modules in-memory
# and usually bypasses the "junk" warning entirely.
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o RequestTTY=no -o RemoteCommand=none
